@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #1b446f;
    --bodyBg: #08192d;
    --sidebarBg: #0b345f;
    --navBarBg: linear-gradient(to bottom, #1c4a72, #194064);
    --navButtonBorder: #0b345f;
    --navButtonBg: linear-gradient(to bottom, #1c4a72, #134478);
    --headerBg: #001122;
    --headerBorderColor: #0f1f2e;
    --footerBg: linear-gradient(to bottom, #2468af, #134478);
    --footerBorder: #0b345f;
    --editorBorder: #0b345f;
    --editorButtonBg: linear-gradient(to bottom, #1c4a72, #194064);
    --editorButtonHover: #235a8f;
    --button-color: #1b446f;
  }

  .dark {
    --bg: #1e1818;
    --bodyBg: #000000;
    --sidebarBg: #2e2828;
    --navBarBg: linear-gradient(to bottom, #2e2828, #1e1818);
    --navButtonBorder: #1e1818;
    --navButtonBg: var(--navBarBg);
    --headerBg: #5c5656;
    --headerBorderColor: #5c5656;
    --footerBg: linear-gradient(to bottom, #4c4646, #4c4646);
    --footerBorder: #cccccc;
    --editorBorder: #0b345f;
    --editorButtonBg: linear-gradient(to bottom, #373131, #1e1818);
    --editorButtonHover: #666666;
  }

  .light {
    --bg: #ffffff;
    --bodyBg: #dddddd;
    --sidebarBg: #eeffff;
    --navBarBg: linear-gradient(to bottom, #3d3d3d, #222222);
    --navButtonBorder: #222222;
    --navButtonBg: var(--navBarBg);
    --headerBg: #778888;
    --headerBorderColor: #556666;
    --footerBg: linear-gradient(to bottom, #eeffff, #eeffff);
    --footerBorder: #cccccc;
    --editorBorder: #ccffcc;
    --editorButtonBg: linear-gradient(to bottom, #2468af, #dfeffc);
    --editorButtonHover: #666666;
  }

  body {
    background-color: var(--bodyBg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    color: #ffffff;
    font-family: Verdana, Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 20px;
  }

  /* Navigation Bar Styling */
  .navBar {
    background: var(--navBarBg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 32px;
    border-bottom: 2px solid var(--navButtonBorder);
  }

  .navBar div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navBarButtonsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navBarButton {
    padding: 6px;
    background: var(--navButtonBg);
    border-right: 1px solid var(--navButtonBorder);
  }

  .navBarButton button {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .navBarButton img {
    height: 20px;
    width: 20px;
    filter: invert(1);
  }

  .navBarButton span {
    color: white;
    padding-left: 4px;
    font-size: 12px;
    font-family: Verdana, Helvetica;
  }

  .navBarButton:hover {
    background-color: var(--editorButtonHover);
  }

  .navBarThemeButtonGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .navBarThemeButton {
    min-width: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--navButtonBorder);
  }

  .navBarThemeButton button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navBarThemeButton:hover {
    background-color: var(--editorButtonHover);
  }

  .navBarThemeButton div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--button-color);
    border: 1px solid var(--navButtonBorder);
  }

  /* Header */
  .header {
    background: var(--headerBg);
    height: 148px;
    width: 100%;
    min-height: 148px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid var(--headerBorderColor);
    overflow: hidden; 
  }

  /* Footer */
  .footer {
    height: 150px;
    width: 100%;
    background: var(--footerBg);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid var(--footerBorder);
    border-left: 1px solid var(--footerBorder);
    border-right: 1px solid var(--footerBorder);
  }

  .LayoutMain {
    display: flex;
    flex-direction: column;
  }

  .layoutGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .mainView {
    flex: 1;
    min-height: 1000px;
    background-color: var(--bg);
  }

  .sideBar {
    width: 230px;
    background-color: var(--sidebarBg);
  }

  .editor {
    padding: 5px;
    min-height: 1000px;
  }

  .mainView-Editor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
  }

  .editor-Container {
    border: 1px solid var(--editorBorder);
    min-height: 800px;
    resize: vertical;
    overflow: auto;
  }

  .bubble-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    background: var(--navBarBg);
    border: 2px solid var(--editorBorder);
    border-radius: 7rem;
    box-shadow: #0f1f2e;
    padding: 2px;
  }

  .bubble-menu div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .bubble-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
  }

  .is-active {
    background-color: #2fda62; /* Example: Blue background */
    color: white; /* Example: White text */
    border-radius: 4px;
  }
}